{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<style>
    .login-container {
        width: 100%;
        height: 100vh; /* Full viewport height */
        background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA4L3Jhd3BpeGVsX29mZmljZV8xNV9waG90b19vZl9hX2RvZ19ydW5uaW5nX3dpdGhfb3duZXJfYXRfcGFya19lcF9mM2I3MDQyZC0zNWJlLTRlMTQtOGZhNy1kY2Q2OWQ1YzQzZjlfMi5qcGc.jpg"); /* Replace with your image path */
        background-size: cover; /* Ensures the background image covers the entire page */
        background-position: center; /* Centers the background image */
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<div class="login-container">
    <form method="POST">
        <h3 align="center">Login</h3>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <br/>
    </form>
</div>
{% endblock %}