{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Home</h1>
        <p>Welcome to the home page!</p>
        <div class="row">
            {% for pet in pets %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ pet[5] }}" class="card-img-top" alt="{{ pet[1] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ pet[1] }}</h5> 
                        <p class="card-text">Age: {{ pet[2] }}</p> 
                        <p class="card-text">Breed: {{ pet[3] }}</p> 
                        <p class="card-text">Description: {{ pet[4] }}</p> 
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}